/* ///////////////////
SECTION ABOUT US
////////////////// */

/*
#wrap-bout-us {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.about-us-right img {
    height: 470px;
    width: 470px;
}

h3  {
    color: #0A246A;
    background-color: #0A246A;
}*/
