#calendar{

    width: 100%;

    box-shadow: 0px 0px 10px #000;

    padding:15px;

    background: #fff;

}

.calendarTitle {
    text-align: center;
    padding: 20px;
    font-size: 2em;
}

.fc-left button, .fc-right button {
    background-color: #ed6a5a;
    background-image: none;
}
.fc-button-primary:not(:disabled).fc-button-active, .fc-button-primary:not(:disabled):active {
    background-color: #ed6a5a;
    opacity: .8;
}
.fc-button-primary:disabled {
    background-color: #ed6a5a;
    opacity: .8;
}
.fc-button-primary:not(:disabled).fc-button-active,
.fc-button-primary:not(:disabled):active {
    background-color: #ed6a5a;
    opacity: .8;
}
