.img-new{
    width: 75%;
    margin: 5px 0;
    margin-left: 15%;
}
.img-hover-zoom{
    overflow: hidden;
}
/* Brightness-zoom Container */
.img-hover-zoom-translate img {
    transition: transform 0.5s, filter 0.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(50%);
}

/* The Transformation */
.img-hover-zoom-translate:hover img {
    transform: scale(1.1);
    filter: brightness(100%);
}

.title-section{
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px 0;
    font-size: 25px;
    text-align: center;
}
.title-new{
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0;
    font-size: 15px;
}
.section-latest-new span{
    color: grey;
    font-size: 10px;
    margin-bottom: 10px;
}