.title_profil {
    font-weight: bold;
    font-size: 5vh;
    text-decoration: underline;
}

#hidden {
    visibility: hidden;
}

.img_profil {
    border-radius: 25%;
    width: 250px;
}

#listeProfil {
    margin: 10px 0;
}

#sous-titre{
font-size: 20px;
 text-transform: uppercase;
    margin: 20px 0;
}

#btnProfil{
    margin: 10px 0;
}