.title_profil {
    font-size: 7vh;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .3em;
    vertical-align: middle;
}
#profil-label {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: black;
}
#hidden {
    visibility: hidden;
}

.img_profil {
    border-radius: 25%;
}

#listeProfil {
    margin: 10px 0;
}

#sous-titre{
font-size: 20px;
 text-transform: uppercase;
    margin: 20px 0;
}
